<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84a09e">  <td>18/02/02 10:24:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.TestCase_101@7f9a81e8]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@2073255475</td>   <td></td> </tr>
<tr bgcolor="84a09e">  <td>18/02/02 10:24:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.StartUp(java.lang.String)[pri:0, instance:com.orbitz.testscripts.TestCase_101@48eff760]">&gt;&gt;StartUp</td> 
<td>&nbsp;</td>  <td>TestNG@1589991836</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>18/02/02 10:24:51</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_101.flightBookingExecution()[pri:0, instance:com.orbitz.testscripts.TestCase_101@48eff760]">flightBookingExecution</td> 
  <td>TestNG@1589991836</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>18/02/02 10:25:00</td>   <td>8979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_101.flightBookingExecution()[pri:0, instance:com.orbitz.testscripts.TestCase_101@7f9a81e8]">flightBookingExecution</td> 
  <td>TestNG@2073255475</td>   <td></td> </tr>
<tr bgcolor="84a09e">  <td>18/02/02 10:25:13</td>   <td>22751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:com.orbitz.testscripts.TestCase_101@7f9a81e8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@2073255475</td>   <td></td> </tr>
</table>
